* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#react-root {
  display: flex;
  justify-content: space-between;
}

.App {
  width: 100%;
}

body,
html {
  height: 100%;
  width: 100%;
}

.nav__bar {
  width: 100%;
  height: 95px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  background: rgba(155, 187, 86, 0.99);
}

.nav__bar__logo {
  color: white;
  font-weight: bold;
  font-size: 48px;
  margin: 35px;
  padding: 20px;
}

.nav__bar__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav__link__item {
  margin: 0 55px 0 0;
}

.nav__search {
  border-radius: 15px;
  outline: none;
}

.main__page {
  display: flex;
}

.side__bar {
  height: calc(100vh - 95px);
  width: 500px;
  background: #eeeeee;
}

.side__link__item {
  margin: 30px;
  color: rgba(25, 23, 17, 0.6);
  font-weight: bold;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.main__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product__post__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn__add_new-prop {
  display: flex;
  justify-content: space-between;
}

.check__out {
  display: flex;
  width: 700px;
  background: rgba(255, 190, 64, 1);
}

.field__checkout {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout__name {
  border: 3px solid #eeeeee;
  height: 55px;
  margin: 30px 0px 0 0px;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
}

.checkout__price {
  border: 3px solid #eeeeee;
  height: 55px;
  margin: 30px 0px 0 0px;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
}

.table__arrangement {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product__card {
  font-size: 16px;
  display: inline-block;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__picture {
  justify-content: space-between;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 15px;
  background: rgba(255, 190, 64, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__bottom {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.prod__b {
  display: flex;
  justify-content: space-between;
  margin: 4px 0px 4px 0px;
}

.check__out__test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.check__out__list__item {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.check__out__item {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-bottom: 15px;
}

.check__out__paid {
  margin: 30px;
  padding: 25px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(81, 121, 63, 1);
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

table {
  border-spacing: 0px 15px;
  width: 100%;
  border-collapse: separate;
}

td,
tr {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  border-right: none;
  border-left: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.stocks__main {
  margin: 25px;
  width: 100%;
}

.dashboard__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
