* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#react-root {
  display: flex;
  justify-content: space-between;
}

.App {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.nav__bar {
  width: 100%;
  height: 95px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  background: rgba(155, 187, 86, 0.99);
}

.nav__bar__logo {
  color: white;
  font-weight: bold;
  font-size: 48px;
  margin: 35px;
  padding: 20px;
}

.nav__bar__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav__link__item {
  margin: 0 55px 0 0;
}

.nav__search {
  border-radius: 15px;
  outline: none;
}

.main__page {
  display: flex;
}

.side__bar {
  height: calc(100vh - 95px);
  width: 500px;
  background: #eeeeee;
}

.side__link__item {
  margin: 30px;
  color: rgba(25, 23, 17, 0.6);
  font-weight: bold;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.main__dashboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product__post__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post__data {
  border: 3px solid #eeeeee;
  height: 55px;
  margin: 30px 30px 0 30px;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
}

.btn__add_new-prop {
  display: flex;
  justify-content: space-between;
}

.large__table {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
  border: 1px solid #eeeeee;
  background-color: rgba(81, 121, 63, 1);
  border-radius: 15px;
}

.small__table {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  border: 1px solid #eeeeee;
  background-color: rgba(81, 121, 63, 1);
  border-radius: 15px;
}

.average__table {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 100px;
  border: 1px solid #eeeeee;
  background-color: rgba(81, 121, 63, 1);
  border-radius: 15px;
}

.bar__table {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 100px;
  border: 1px solid #eeeeee;
  background-color: rgba(81, 121, 63, 1);
  border-radius: 15px;
}

.check__out {
  display: flex;
  width: 700px;
  background: rgba(255, 190, 64, 1);
}

.field__checkout {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkout__inputs {
  display: flex;
  flex-direction: column;
}

.checkout__name {
  border: 3px solid #eeeeee;
  height: 55px;
  margin: 30px 0px 0 0px;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
}

.checkout__price {
  border: 3px solid #eeeeee;
  height: 55px;
  margin: 30px 0px 0 0px;
  padding-left: 25px;
  border-radius: 15px;
  outline: none;
}

.table__arrangement {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__arrangement__none {
  display: none;
}

.product__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.product__card {
  font-size: 16px;
  display: inline-block;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__picture {
  justify-content: space-between;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 15px;
  background: rgba(255, 190, 64, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__bottom {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.prod__b {
  display: flex;
  justify-content: space-between;
  margin: 4px 0px 4px 0px;
}

/* .prod__btn {
  width: 100%;
}

.product__btn {
  font-weight: bold;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.28);
  width: 100%;
  padding: 9px 29px 9px 29px;
}

.product__btn:hover {
  background: rgba(81, 121, 63, 1);
  color: rgba(255, 190, 64, 1);
} */

.ripple__btn {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 12px 24px;
  background: rgba(81, 121, 63, 1);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.ripple__btn > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  animation: ripple-effect 0.7s ease 1 forwards;
}

@keyframes ripple-effect {
  0% {
    width: 0;
    height: 0;

    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.5;
  }
}

.ripple__btn > .content {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.check__out__test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.check__out__list__item {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.check__out__item {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-bottom: 15px;
}

.check__out__paid {
  margin: 30px;
  padding: 25px;
  text-transform: uppercase;
  color: #fff;
  background: rgba(81, 121, 63, 1);
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
