.myTables {
  color: rgba(0, 9, 40, 1);
  height: 250px;
  width: 350px;
  border: 3px solid rgba(0, 9, 40, 1);
}

.remove__table {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__content {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.reserved {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
