.myTables {
  display: flex;
  flex-direction: column;
  color: white;
  background: #144771;
  font-size: 18px;
}

.remove__table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__content {
  display: flex;
  flex-direction: column;
}

.flex__content {
  display: flex;
  justify-content: space-between;
}

.reserved {
  display: flex;
}
