.inputContainer {
  position: relative;
}

.customInput {
  outline: none;
  border: 3px solid rgb(118, 118, 118);
  border-radius: 3px;
  padding: 12px;
}

.customInputError {
  outline: none;
  border: 3px solid rgb(255, 1, 1);
  border-radius: 3px;
  padding: 12px;
}

.cuctomLable {
  color: black;
  background: #fff;
  left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.customInput:focus ~ label,
.customInput:not(:placeholder-shown) ~ label {
  transform: translateY(-30px) translateX(0px) scale(0.85);
  color: #46abfd;
}

.customInput:focus {
  border: 3px solid #46abfd;
}

.aboba {
  outline: none;
  border: 3px solid rgb(250, 3, 3);
  border-radius: 3px;
  padding: 12px;
}

.empty {
  transform: translateY(-30px) translateX(0px) scale(0.85);
  color: red;
}
