.form {
  position: relative;
}

.form .search__input {
  background: transparent;
  background: #fff;
  padding: 0 15px;
  font-size: 20px;
  width: 25px;
}

.form .placeholder__search {
  position: absolute;
  top: 5px;
  left: 7px;
  text-transform: capitalize;
  font-size: 18px;
  transition: top 0.5s;
  padding: 0 5px;
  color: #144771;
}

.form .search__input:focus ~ .placeholder__search {
  top: -10px;
  background: #144771;
}
