.reservedForm {
  position: absolute;
  right: 252px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 3px solid #144771;
  font-size: 24px;
  font-family: inherit;
  height: 100%;
}

.reservedFormItem {
  display: flex;
  margin: 15px;
}
