.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background: #46abfd;
  color: #fff;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}

.btnRipple {
  overflow: hidden;
}

.rippleEffect {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 5px;
  height: 5px;
  pointer-events: none;
  z-index: 5;
  animation: ripple 0.7s linear infinite;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.4;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@media only screen and (max-width: 1790px) {
  .btn {
  }
}
