.dropDown {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

/* .chooseOption {
  position: absolute;
  top: 10px;
  left: 20px;
} */

/* .dropDown .dropDownBtn {
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .dropDown .dropDownContent {
  position: absolute;
  padding: 15px;
  background: #fff;
} */
