html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  line-height: 1;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.nav__bar {
  background: #46abfd;
  color: #fff;
  font-size: 36px;
  padding: 25px;
}

.main {
  display: flex;
  height: calc(100vh - 92px);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: #144771;
  font-size: 36px;
}

.sidebar__menu__list {
  margin-top: 17px;
}

.menu__list__item {
  padding: 5px 12px;
  margin: 3px 8px;
}

.list__item {
  display: flex;
  align-items: center;
}

.icon__container {
  margin-right: 12px;
}

.dashboard__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create__table {
  display: flex;
  flex-direction: column;
  margin: 25px;
  justify-content: space-evenly;
  flex: 0 1 10%;
}

.tables {
  margin: 25px;
  overflow-y: scroll;
  flex: 0 1 70%;
}

.table__arrangement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.table__arrangement::-webkit-scrollbar {
  width: 0;
}

.checkout__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 20%;
  margin: 25px;
}

.checkout__menu__item {
  display: flex;
  flex-direction: column;
}

.checkout__list__item {
  display: flex;
  justify-content: space-between;
}
