html,
body {
  font-family: Arial, Helvetica, sans-serif !important;
  height: 100%;
  line-height: 1;
}

.wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.nav__bar {
  background: #46abfd;
  color: #fff;
  font-size: 36px;
  padding: 25px;
}

.main {
  display: flex;
  height: calc(100vh - 92px);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  background: #144771;
  font-size: 36px;
}

.sidebar__menu__list {
  margin-top: 17px;
}

.menu__list__item {
  padding: 5px 12px;
  margin: 3px 8px;
}

.list__item {
  display: flex;
  align-items: center;
}

.icon__container {
  margin-right: 12px;
}

.dashboard__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tables__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.create__table {
  display: flex;
  background: #144771;
  margin: 25px;
  justify-content: space-evenly;
  border-radius: 10px;
  flex: 0 1;
}

.create__table__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px 12px;
  margin: 3px 8px;
}

.table__select {
  background: #46abfd;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.tables {
  margin-top: 25px;
  overflow-y: scroll;
  flex: auto;
}

.tables::-webkit-scrollbar {
  width: 10px;
}

.tables::-webkit-scrollbar-track {
  background: #fff;
}

.tables::-webkit-scrollbar-thumb {
  background: #46abfd;
  border-radius: 10px;
  height: 25px;
}

.table__arrangement {
  margin-right: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.checkout__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 25px;
  background: #144771;
  font-size: 18px;
  font-family: inherit;
  flex: 0 1 25%;
}

.checkout__menu__item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.checkout__list__item {
  display: flex;
  justify-content: space-between;
  background: #fff;
  align-items: center;
  padding: 4px 8px;
  margin: 10px;
  border-radius: 10px;
}

.checkout__paid {
  display: flex;
}

@media screen and (max-width: 1690px) {
  .tables__container {
    display: flex;
    flex-direction: column;
    margin: 25px;
  }

  .create__table {
    margin: 0;
  }

  .create__table__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1450px) {
  .table__arrangement {
    background: green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
