.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.container {
  max-width: 1920px;
}

.nav__bar {
  height: 95px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  background: #46abfd;
}

.main__page {
  display: flex;
}

.side__bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 9, 40, 1);
  transition: width 1s, left 1s;
}

.side__link {
  display: flex;
  color: white;
  align-items: center;
  font-size: 36px;
  text-decoration: none;
}

.side__icon__container {
  display: flex;
}

.dashboard__container {
  display: flex;
  justify-content: space-between;
}

.create__table__form {
  flex: 0 1 9.4%;
  display: flex;
  flex-direction: column;
}

.table__select {
  text-align: center;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 9, 40, 1);
}

.tables {
  flex: 0 1 70%;
}

.table__arrangement {
  max-height: calc(100vh - 120px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  overflow-y: scroll;
}

.table__arrangement::-webkit-scrollbar {
  width: 0;
}

.check__out {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(0, 9, 40, 1);
}

.check__out__list__item {
  display: flex;
  flex-direction: column;
}

.check__out__item {
  font-size: 36px;
  color: #fff;
  background: #46abfd;
  margin: 5px;
  display: flex;
}
